table {
margin:auto;
}
th {
    margin-left:5%;
}
.data_table {
border:1px solid black;
border-collapse:collapse;
}
form {
margin:auto;
}
.top_interface {
border-collapse:collapse;
}
.top_interface td {
margin: auto;
}
.c_box {
float: left;
}
.p_button {
float: left;
}
.student_data, .status_data {
	border:1px solid black;
	border-collapse:collapse;
	border-width:auto;
}
#status_header {
	colspan=2;
}