
th {
    margin-left:5%;
}
.data_table {
border:1px solid black;
border-collapse:collapse;
}
.top_interface {
border-collapse:collapse;
}
.top_interface td {
margin: auto;
}
th, td {
padding:5px;
}
.c_box {
float: left;
}