form {
margin:auto;
}
.top_interface {
border-collapse:collapse;
}
.top_interface td {
margin: auto;
}
.c_box {
float: left;
}
.p_button {
float: left;
}
#status_header {
	colspan=2;
}

body {
position:relative;
margin:0;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:80%;

}

#top_header {
position:fixed;
background-color:#fff;
width:100%;

}

#main_table {
padding-top: 216px;
}

tr:nth-child(odd) {
background-color:#CCFFFF;
}

#big_table {
border:0;
width:700px;
}

#big_table th, #big_table td {
padding:4px 14px;
}

.data_table, .select_col {
width:auto;
}
