/* For mobile : like samsung grand(480 * 800): */
@media screen and (max-width : 480px){}


/* For iphone: */
@media screen and (max-width : 480px){
    #big_table {
        min-width: 400px;
        width: 100%;
        font-size: 0.9em;
    }
    #big_table td {
        padding: 1px 6px;
    }
    #top_header form div {
        text-align: center;
        
    }
    #top_header {
        display: none;
    }
    .status_col {
        min-width: 240px;
        width: 240px;
    }
    #main_table {
        padding-top: 30px;
    }
    #checkAll,
    .c_box {
        display: none;
    }
    .student_col_buttons,
    .blank_col {
        /*display: inline;*/
        display:none;
    }
    #top_header form div {
        border-left: 4px solid rgba(0, 0, 0, 0);
    }
/*
    .textbox {
        max-width: 130px;
    }
    .ui-timepicker-input {
        max-width: 40px;
    }
*/
    .groupsGUI {
        display: none;
    }
} 


/* For ipad: */
@media screen and (max-width : 768px){} 