# Turn Rewrite Engine On
RewriteEngine on

# Rewrite for admin pages
RewriteRule ^Students$ edit_students.php [NC,L]
RewriteRule ^Facilitators$ edit_facilitators.php [NC,L]
RewriteRule ^Allotted-Hours$ edit_allottedhours.php [NC,L]
RewriteRule ^Passwords$ edit_passwords.php [NC,L]
RewriteRule ^Holidays$ edit_holidays.php [NC,L]
RewriteRule ^Globals$ edit_globals.php [NC,L]
RewriteRule ^Events$ edit_events.php [NC,L]
RewriteRule ^Groups$ edit_groups.php [NC,L]
RewriteRule ^Stats$ edit_stats.php [NC,L]

# NC makes the rule non case sensitive
# L makes this the last rule that this specific condition will match
# $ in the regular expression makes the matching stop so that "customblah" will not work