/* HTML5 reset  */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-spacing: 0;
}

input#checkAll {
    height: 29px;
}


/* ///////// PSCS STYLES //////////// */

body {
    background-color: #4A4747;
    background-image: url('../../static/mobius-transparent.png');
    background-repeat: no-repeat;
    background-position: center 100px;
    background-attachment: fixed;
}

.headerr {
    margin: 30px 30%;
    background-color: lightgray;
    border-radius: 5px;
    color: black;
    min-width: 300px;
    padding: 5px 0px 0px 0px;
    width: 10px;
    opacity: 0.8;
    color: #4C4C4C;
}

.options {
    padding: 25px 15px 25px 15px;
    background-color: gray;
    border-radius: 5px;
    color: black;
    min-width: 630px;
    max-width: 630px;
    opacity: 0.95;
    display: -webkit-flex;
    display: flex;
}

.admintable {
    padding: 10px;
    border-radius: 5px;
    color: white;
    min-width: 500px;
    opacity: 0.85;
}

.holiday_table,
.global_table,
.allottedhours_table,
.facilitators_table,
.offloc_table,
.students_table {
    border: 5px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    max-width: 50%;
}

.edit-passwords .admintable {
    min-width: 400px;
    max-width: 400px;
}

.edit-groups .admintable {
    min-width: 35%;
}

.edit-globals .admintable {
    min-width: 400px;
    max-width: 645px;
}

.miscellaneous .admintable {
    min-width: 250px;
    max-width: 250px;
}

.textButton {
    background: none !important;
    border: none;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
}

.textButton:hover {
    color: grey;
}

.GroupsTable {
    width: 14%;
    box-shadow: rgba(0, 0, 0, 0.2) 4px 4px 4px;
    display: inline;
}

.admintable form {
    margin: 1.5em;
}

table {
    width: 100%;
}

th {
    text-align: left;
}

a {
    color: blue;
    text-decoration: none;
    display: block;
}

a:hover {
    color: dimgray;
    text-decoration: none;
    cursor: pointer;
}

.textbox {
    background-color: #BDD7F1;
    border: solid 1px #646464;
    outline: none;
    padding: 2px 2px;
}

tr:nth-child(odd) {
    background: #E6E6E6;
}

tr:nth-child(even) {
    background: #FAFAFA;
}

table {
    border-spacing: 0px;
}

.btn {
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    font-family: Arial;
    color: #bdbdbd;
    font-size: 10px;
    background: #6b6b6b;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-right: 10px;
}

.btn:hover {
    background: #7a7a7a;
    text-decoration: none;
}

.button {
    font-family: Arial;
    color: grey;
    font-size: 11px;
    background: lightgray;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    border-right: 3px solid #999;
}

a.button:last-child {
    border-right: 0;
}

.button:hover {
    background: #7a7a7a;
    text-decoration: none;
    color: lightgray;
}

td,
th {
    padding: 5px 7px;
}

#adminpwd {
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;
}

#studentpwd {
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

#navigation {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 20%;
    height: 100%;
    opacity: 0.8;
    border-right: 5px solid #404040;
    background-color: #616161;
}

#TopHeader {
    position: fixed;
    top: 0%;
    left: 20.4%;
    width: 100%;
    height: 9%;
    opacity: 0.8;
    z-index: 5;
    border-right: 5px solid black;
    background-color: #616161;
}

#TopHeader.Error {
    background-color: #FF5A5A;
}

#TopHeader.Sussess {
    background-color: #5CE27C;
}

#OffsiteStats {
    max-width: 700px;
    margin-left: 5%;
    opacity: 0.85;
    border: 5px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    margin-bottom: 1em;
}

.Myheader {
    text-align: center;
    font-weight: 900;
    font-family: "Verdana";
    color: white;
    margin-right: 20%;
    padding-bottom: 0%;
    font-size: 1.5em;
    padding: 13px;
}

#navigation .header {
    text-align: center;
    font-weight: 900;
    font-family: "Verdana";
    color: white;
    margin-top: 1em;
    margin-bottom: 2em;
    font-size: 1.5em;
}

#navigation .disabled {
    text-align: left;
    margin-left: 5%;
    font-family: "Verdana";
    color: gray;
    padding-bottom: 5%;
    cursor: default;
}

#navigation #break {
    height: 1.3%;
    width: 85%;
    border-radius: 3px;
    background: white;
    margin-bottom: 5%;
    margin-left: 0;
    margin-right: auto;
}

#navigation .option {
    text-align: left;
    margin-left: 5%;
    font-family: "Verdana";
    color: white;
    padding-bottom: 5%;
}

#navigation .option:hover {
    text-decoration: underline;
}

.dis {
    color: gray;
    text-decoration: none;
}

#main {
    margin-left: 18%;
    margin-top: 6%;
}

#sussess {
    position: fixed;
    top: 15%;
    left: 50%;
    width: 15%;
    height: 5%;
    z-index: 4;
    background-color: #B5FA9D;
}


/* EDIT EVENTS */

.edit-events tr {
    background-color: #f0f0f0;
    border: 2px solid white;
}

.edit-events tr.Offsite {
    background-color: #D2B48C;
}

.edit-events tr.Absent {
    background-color: #FF6347;
}

.edit-events tr.Late {
    background-color: #B0E0E6;
}

body .edit-events {
    background-color: dimgray
}

.edit-events .message {
    color: red;
    background: #fff;
    border: 1px solid red;
    padding: 0.5em;
    margin: 1em;
    display: inline-block;
    position: absolute;
}

.new-event input,
.editing-row input {
    width: 100%;
}

.new-event td {
    padding: 1em;
}

.edit-events .eventlog {
    margin: 1em auto;
    opacity: 0.8;
    width: 830px;
    border: 5px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
}

.edit-events .centerr {
    margin: 0 auto;
    text-align: center;
}

.edit-events .editing-row {
    background-color: rgb(178, 178, 178);
}

.title {
    color: white;
    font-size: 2em;
    margin: 20px;
    font-family: 'Verdana';
    font-weight: 900;
}

.edit_events_Myheader {
    text-align: center;
    font-weight: 900;
    font-family: "Verdana";
    color: white;
    margin: 9px;
    padding: 6px;
    padding-right: 24%;
    font-size: 1.5em;
}

.unstyled-link {
    text-decoration: none;
    color: black;
}

table#OffsiteStats th {
    font-weight: bold;
}