@media screen and (max-width: 1230px) {
    #top_header div a {
        font-size: 0.7em;
        vertical-align: middle;
        line-height: 5px;
    }

    #top_header form div {
        border-left: 4px solid #999;
        height: 18px;
    }

    #top_header .button {
        font-size: 0.7em;
        width: 60px;
    }

    #top_header input:not(.button) {
        width: 9em;
        vertical-align: middle;
        height: 11px;
        font-size: 0.7em;
    }

    #top_header select {
        font-size: 0.7em;
    }
}

@media screen and (max-width: 900px) {
    .groupsGUI {
        display: none;
    }
}

@media screen and (max-width: 830px) {
    #main_table {
        padding-top: 95px;
    }

    #top_header form div {
        float: right;
    }
}