table {
margin:auto;
}
th {
    margin-left:5%;
	font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica,
	sans-serif;
	color: #FFFFFF;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: left;
	padding: 6px 6px 6px 12px;
	background: #F26222 url(images/bg_header.jpg) no-repeat;
}
tbody {
width: 60%;
position:absolute;
margin-top:115px;
margin-left: auto;
margin-right: auto;
z-index: 0;
}
#pscs_logo {
float:right;
padding:3px;
}
.data_table {
border:1px solid black;
border-collapse:collapse;
}
.top_interface {
border-collapse:collapse;
position:fixed;
}
.c_box {
float: left;
}
.p_button {
float: left;
}
.student_data, .status_data {
	border:1px solid black;
	border-collapse:collapse;
	border-width:auto;
}
#tiptop {
position: fixed;
margin-top:-8px;
float:top;
width:100%;
height:10px;
z-index:1;
background-color: white;
}
#top_header {
position: fixed;
width: 90%;
background-color: #6A6A6A;
padding: 5px;
border-radius: 10px;
z-index: 2;
}
#status_header {
	colspan=2;
}
.late_time {
width: 5.5em;
}